@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-blue {
    @apply bg-blue-100 px-7 py-4 text-white  rounded-md 
    hover:bg-blue-200 transition-all disabled:opacity-40 disabled:cursor-not-allowed disabled:hover:bg-blue-100;
  }

  .btn-danger {
    @apply bg-danger-100 px-7 py-4 text-white  rounded-lg 
    hover:bg-danger-200 transition-all disabled:opacity-40 disabled:cursor-not-allowed disabled:hover:bg-danger-100;
  }

  .btn-green {
    @apply bg-green-100 px-7 py-4 text-white rounded-lg
    hover:bg-green-200 transition-all disabled:opacity-40 disabled:cursor-not-allowed disabled:hover:bg-green-100;
  }

  .form-control {
    @apply border
              text-sm
              rounded-lg
              focus:outline-none
              block
              w-full
              p-2.5
              bg-gray-600
              border-gray-500
              placeholder-gray-400
              text-white
              disabled:opacity-40 disabled:cursor-not-allowed;
  }

  .form-group {
    @apply flex flex-col;
  }
}
