<!DOCTYPE html>
<html lang="en" page-load="true" dark-mode="false" scrollbar="hidden">
  <head tailwind="true">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/dist.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="assets/js/script.js" defer></script>
    <script
      src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"
      defer
    ></script>
    <title>Dcordlink</title>
  </head>
  <body class="bg-dark-400">
    <%- include("./includes/Navbar.ejs") %> <% if(error.length > 0) { %>

    <div class="bg-danger-100 p-2 text-center text-white font-bold" id="toast">
      <%= error %>
    </div>

    <% } %> <% if(success.length > 0) { %>

    <div class="bg-green-100 p-2 text-center text-white font-bold" id="toast">
      <%= success %>
    </div>

    <% } %> <

    <div
      class="bg-green-100 p-2 text-center text-white font-bold hidden copied"
      id="toast"
    >
      Copied to clipboard!
    </div>
  </body>
</html>
